{% extends 'webapp/base.html' %}

{% block content %}
<section id="canvas">
    <ul class="row">
        <li class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
            <div>Key partners</div>
            <div>
                <i class="fas fa-plus-circle righter" style="float:right;"></i>
                <textarea rows="3" class="form-control" >What can the company not do so it can focus on its Key Activities?</textarea>
            </div>
        </li>
        <li class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
            <div>Key activities</div>
            <div>
                <i class="fas fa-plus-circle righter" style="float:right;"></i>
                <textarea rows="3" class="form-control" >What uniquely strategic things does the business do to deliver its proposition?</textarea>
            </div>
        </li>
        <li class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
            <div>Key resources</div>
            <div>
                <i class="fas fa-plus-circle righter" style="float:right;"></i>
                <textarea rows="3" class="form-control" >What unique strategic assets must the business have to compete?</textarea>
            </div>
        </li>
    </ul>
    <hr>
    <ul class="row">
        <li class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
            <div>Value Proposition</div>
            <div>
                <textarea rows="3" class="form-control" >What’s compelling about the proposition? Why do customers buy, use?</textarea>
            </div>
        </li>
    </ul>
    <hr>
    <ul class="row">
        <li class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
            <div>Customer Segment</div>
            <div>
                <textarea rows="3" class="form-control" >Who are the customers? What do they think? See? Feel? Do?</textarea>
            </div>
        </li>
    </ul>
    <hr>
    <ul class="row">
        <li class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <div>Customer relationship</div>
            <div>
                <i class="fas fa-plus-circle righter" style="float:right;"></i>
                <textarea rows="3" class="form-control" >What unique strategic assets must the business have to compete?</textarea>
            </div>
        </li>
        <li class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <div>Distribution channel</div>
            <div>
                <i class="fas fa-plus-circle righter" style="float:right;"></i>
                <textarea rows="3" class="form-control" >How are these propositions promoted, sold and delivered? Why? Is it working?</textarea>
            </div>
        </li>
    </ul>

    <ul class="row">
        <li class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <div>Cost structure</div>
            <div>
                <i class="fas fa-plus-circle righter" style="float:right;"></i>
                <textarea rows="3" class="form-control" >What unique strategic assets must the business have to compete?</textarea>
            </div>
        </li>
        <li class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <div>Revenue stream</div>
            <div>
                <i class="fas fa-plus-circle righter" style="float:right;"></i>
                <textarea rows="3" class="form-control" >How does the business earn revenue from the value propositions?</textarea>
            </div>
        </li>
    </ul>
    <hr>
</section>

{% endblock %}
