{% extends 'globernaut/base.html' %}

{% block content %}

<section id="canvas">
    <h4 class="tit"></h4>
    <hr>
    <ul class="row">
        <li class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <div>What do they HEAR?</div>
            <div>
                <i class="fas fa-plus-circle righter" style="float:right;"></i>
                <textarea rows="3" class="form-control" >What do they HEAR?</textarea>
            </div>
        </li>
        <li class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <div>What do they SEE?</div>
            <div>
                <i class="fas fa-plus-circle righter" style="float:right;"></i>
                <textarea rows="3" class="form-control" >What do they SEE?</textarea>
            </div>
        </li>
    </ul>
<hr>
    <ul class="row">
        <li class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
            <div>WHO are we empathizing with?</div>
            <div>
                <textarea rows="3" class="form-control" >WHO are we empathizing with?</textarea>
            </div>
        </li>
    </ul>
    <hr>
    <ul class="row">
        <li class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <div>What do they need to DO?</div>
            <div>
                <i class="fas fa-plus-circle righter" style="float:right;"></i>
                <textarea rows="3" class="form-control" >What do they need to DO?</textarea>
            </div>
        </li>
        <li class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <div>What do they THINK and FEEL?</div>
            <div>
                <i class="fas fa-plus-circle righter" style="float:right;"></i>
                <textarea rows="3" class="form-control" >What do they THINK and FEEL?</textarea>
            </div>
        </li>
    </ul>
    <hr>


    <ul class="row">
        <li class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <div>What do they SAY?</div>
            <div>
                <input type="text" class="form-control" style="display: inline-block;width:90%;">
                <i class="fas fa-plus-circle"></i>
            </div>
        </li>
        <li class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <div>What do they DO?</div>
            <div>
                <input type="text" class="form-control" placeholder="key partner" style="display: inline-block;width:90%;">
                <i class="fas fa-plus-circle"></i>
            </div>
        </li>
    </ul>

</section>

{% endblock %}
